/* Buttons styles */
.btn{
    height: 40px;
    background-color:#36383f;
    color: #ffff;
    font-size: 0.90em;
    font-family: 'Lato', sans-serif;
    padding: 10px 15px;
    border: 1px solid #353537;
    border-radius: 4px;
}

.btn>.ico-btn{
    color: lightgreen;
}

.square-btn{
    height: 50px;
    width: 100%;
    background-color:#36383f;
    color: #ffff;
    font-size: 0.90em;
    font-family: 'Lato', sans-serif;
    padding: 10px 25px;
    border: 1px solid gray;
}

.green-btn{
    height: 50px;
    background-color:#47cf73;
    color: black;
    font-size: 1.4em;
    font-family: 'Lato', sans-serif; 
    padding: 10px 15px;
    border: 1px solid #47cf73;
    border-radius: 4px;
}

.black-btn{
    height: 50px;
    background-color:black;
    color: white;
    font-size: 1.4em;
    font-family: 'Lato', sans-serif; 
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 4px;
}