/* Common nav styles */
.navigation-wrapper{
    height: 40px;
    background-color: #000000;
    color: white;
    padding: 10px 10px;  
    /* Flexbox container */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Left column styles */
.navigation-wrapper > .left-column{
     /* Flexbox container */
     display: flex;
     align-items: center;
 }
.navigation-wrapper>.left-column>.logo img{
    width: 125px;
    height: 100%;
    padding: 10px 20px 10px 10px;
}

/* Middle column styles */
.navigation-wrapper>.middle-column{
     /* Grid container */
     display: grid;
     grid-template-columns: 1fr; 
}
.navigation-wrapper>.middle-column>.text-wrapper{
     margin-left: 10px;
     text-transform: uppercase;
     font-family: 'Ubuntu Condensed', sans-serif;
     font-size: 0.75em;
     color: #d8c472;
     /* Flexbox container */
     display: flex;
     justify-content: left;
}
.navigation-wrapper>.middle-column>.links-wrapper>.icon-wrapper{
     font-size: 0.7em;
}
.links-wrapper{
     /* Flexbox container */
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.links-wrapper>.nav-link{
     padding: 0px 0px 0px 10px;
     text-align: center;
}
.links-wrapper > .nav-link a {
     font-family: 'Ubuntu Condensed', sans-serif;
     font-weight: bold;
     font-size: 0.90em;
     color: white;
     text-decoration: none;
     text-align: left;
 }
 .links-wrapper > .nav-link> .spark {
     font-family: 'Lato', sans-serif;
     color: gray;
     padding: 0px 10px;
     /* text-decoration: none; */
     /* text-align: left; */
 }

 /* Right column styles */
.btn-wrapper{
    /* Flexbox container */
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.btn-wrapper>.nav-btn{
     width: 100px;
     text-align: right;
}
.btn-wrapper>.icon-find{
     color: #9b9b9d;
     font-size: 1.6em;
     padding: 0px 0px 0px 20px;
    
}
